[Unit]
Description=Citadel Alpha API Gateway
After=network.target postgresql.service redis.service

[Service]
Type=exec
User=www-data
Group=www-data
WorkingDirectory={{ app_directory }}
Environment=PATH={{ virtual_env_path }}/bin
ExecStart={{ virtual_env_path }}/bin/uvicorn main:app --host {{ app_host }} --port {{ app_port }} --workers {{ app_workers }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
